<div>
  <h1>
    Angular Guards
  </h1>
  <p>
    We may need certain routes of our web app to be available only for users with certain roles, or only for logged in
    users.
    In Angular We use Guards in order to protect routes.
    From our Guards, We can request to the API if a user can navigate to a route.
    A guard can return a boolean a promise or an observable value.
  </p>

  <p>
    There are different types of guards implementation:
  </p>
  <ul>
    <li>
      CanActivate: To check if a user can navigate to a specific page.
    </li>
    <li>
      CanActivateChild: To check if a user can navigate to child routes of a route.
    </li>
    <li>
      CanDeactivate: To check if a user can leave a page. It may be useful if it’s a form with half-filled data, or any
      other user task not finished.
    </li>
    <li>
      Resolve: To wait for data prior to render a component. This way, component when component is rendered, data will already be in place.
    </li>
    <li>
      CanLoad: To avoid the user browser lazy loading the modules the user should not be able to see.
    </li>
  </ul>

  <ul>
    <li>
      <a [routerLink]="'/canactivate'">
        Route protected with canActivate guard
      </a>
    </li>
    <li>
      <a [routerLink]="'/resolve'">
        Load Component6 pre-fetching data with resolve guard
      </a>
    </li>
    <li>
      <a [routerLink]="'/notresolve'">
        Load Component6 NOT pre-fetching data
      </a>
    </li>
    <li>
      <a [routerLink]="'/candeactivate'">
        Route under canDeactivateGuard
      </a>
    </li>
    <li>
      <a [routerLink]="'/canactivatechild'">
        Route protected with canActivateChild guard
      </a>
      <ul>
        <li>
          <a [routerLink]="'/canactivatechild/child1'">
            Navigate to Child 1 of Component2
          </a>
        </li>
        <li>
          <a [routerLink]="'/canactivatechild/child2'">
            Navigate to Child 2 of Component2
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>


  <!--  Example of Guard-->

  <!--  If the user is not logged in, We’ll send him back to the root. Otherwise, the guard will return a true value.-->

  <!--  @Injectable()-->
  <!--  export class CanActivateViaAuthGuard implements CanActivate {-->

  <!--  constructor(private authService: AuthService, private router: Router) { }-->

  <!--  canActivate() {-->
  <!--  if (!this.authService.isLogged()) {-->
  <!--  console.log('No estás logueado');-->
  <!--  this.router.navigate(['/']);-->
  <!--  return false;-->
  <!--  }-->

  <!--  return true;-->
  <!--  }-->
  <!--  }-->


</div>
